div#mapApp{
	width: 900px;
	height: 343px;
	margin: auto;
}

#mapApp div#map {
	width: 556px;
	background-image:url('../img/paac_1.png');
	background-size: 100% 100%;
	height: 343px;
}

#mapApp div#mapInfo{
	width: 343px;
	background-color: #ccc;
	height: 343px;
	position: relative;
	float: right;
}

#mapApp #mapInfo div#mapInfo-inner{
	padding: 18.5px;
	width: 306px;
	height: 306px;
}

#mapApp #mapInfo div#mapInfo-inner.northWest{
	background-color: #009966;
}

#mapApp #mapInfo div#mapInfo-inner.southWest{
	background-color: #336699;
}

#mapApp #mapInfo div#mapInfo-inner.northCentral{
	background-color: #6699cc;
}

#mapApp #mapInfo div#mapInfo-inner.southCentral{
	background-color: #cc3333;
}

#mapApp #mapInfo div#mapInfo-inner.northEast{
	background-color: #996699;
}

#mapApp #mapInfo div#mapInfo-inner.southEast1{
	background-color: #999999;
}

#mapApp #mapInfo div#mapInfo-inner.southEast2{
	background-color: #336666;
}

#mapApp #map div#leftCol{
	position: relative;
	float:left;
	width: 210px;
}

#mapApp #map div#middleCol{
	position: relative;
	float:left;
	width: 188px;
}

#mapApp #map div#rightCol{
	position: relative;
	float:left;
	width: 158px;
}

#mapApp #map #leftCol div#northWest{
	/*background-color: #090;*/
	height: 200px;
}

#mapApp #map #leftCol div#southWest{
	/*background-color: #24c;*/
	height: 143px;
}

#mapApp #map #middleCol div#northCentral{
	/*background-color: #38f;*/
	height: 210px;
}

#mapApp #map #middleCol div#southCentral{
	/*background-color: #c00;*/
	height: 127px;
}

#mapApp #map #rightCol div#northEast{
	/*background-color: #93c;*/
	height: 205px;
}

#mapApp #map #rightCol div#southEast1{
	/*background-color: #24c;*/
	height: 68px;
}

#mapApp #map #rightCol div#southEast2{
	/*background-color: #666;*/
	height: 70px;
}

#mapApp div#map.northWestHover{
	background-image: url('../img/paacNorthwest.png');
	cursor: pointer;
}

#mapApp div#map.southWestHover{
	background-image: url('../img/paacSouthwest.png');
	cursor: pointer;
}

#mapApp div#map.northCentralHover{
	background-image: url('../img/paacNorthcentral.png');
	cursor: pointer;
}

#mapApp div#map.southCentralHover{
	background-image: url('../img/paacSouthcentral.png');
	cursor: pointer;
}

#mapApp div#map.northEastHover{
	background-image: url('../img/paacNortheast.png');
	cursor: pointer;
}

#mapApp div#map.southEast1Hover{
	background-image: url('../img/paacSoutheast1.png');
	cursor: pointer;
}

#mapApp div#map.southEast2Hover{
	background-image: url('../img/paacSoutheast2.png');
	cursor: pointer;
}

#mapApp #mapInfo li{
	font-size: 11px;
	line-height: 18px;
	font-family: Georgia;
}

#mapApp #mapInfo h2{
	font-size: 18px;
	font-family: Georgia;
}
